* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--b: hsl(240, 100%, 65%);
	--o: hsl(39, 100%, 65%);
	--g: hsl(120, 100%, 65%);
	--r: hsl(0, 100%, 65%);
	--y: hsl(60, 100%, 65%);
	--w: hsl(0, 0%, 100%);
	--gray: hsl(0, 0%, 50%);

	display: flex;
	align-items: center;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

main {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	padding: 4rem 1rem;
	width: 100%;

	section {
		display: flex;
		flex-direction: column;
		gap: 3rem;

		& .item {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding-left: 1rem;
			border-left: 4px solid #00000022;

			& h2 {
				opacity: 0.8;
			}

			& .start-positions {
				display: flex;
				gap: 1rem;
			}

			& .notation {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5rem;
				align-items: center;
			}

			& .move-card {
				--b: hsl(240, 100%, 70%);
				--o: hsl(39, 100%, 60%);
				--g: hsl(120, 100%, 65%);
				--r: hsl(0, 100%, 65%);
				--y: hsl(60, 100%, 50%);
				--p: hsl(290, 100%, 75%);
				--c: hsl(187, 100%, 65%);
				--w: hsl(0, 0%, 100%);
				--gray: hsl(0, 0%, 50%);

				display: inline-flex;
				flex-direction: column;
				align-items: center;
				padding: 5px;
				border-radius: 6px;
				color: black;
				font-size: 0.9rem;
				font-family: monospace;
				font-weight: bold;
				border: 1px solid #00000022;
			}

			& .move-card.unknown {
				background-color: transparent;
				box-shadow: none;
				padding: 0;
			}
		}
	}
}
