* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--b: hsl(240, 100%, 65%);
	--o: hsl(39, 100%, 65%);
	--g: hsl(120, 100%, 65%);
	--r: hsl(0, 100%, 65%);
	--y: hsl(60, 100%, 65%);
	--w: hsl(0, 0%, 100%);
	--gray: hsl(0, 0%, 50%);

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

main {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	& h1 {
		margin-bottom: 1rem;
	}
}
