* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--b: blue;
	--o: orange;
	--g: green;
	--r: red;
	--y: yellow;
	--w: white;
	--gray: gray;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
}

main {
	display: flex;
	flex-direction: column;
	gap: 3rem;

	& h1 {
		margin-bottom: 1rem;
	}
}
